

@import url(~assets/css/variable.less);



input[type=text], input[type=button] { 
  border:0 none; -webkit-appearance:none; 
}

.button { width:60px; height:30px; text-align:center; }
.button.block   { display:block; margin:0 auto; }
.button.primary { color:#fff; background-color:@color-primary; }
.button.regular { background-color:@color-border-base; }